
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(250, 250, 242);
    color: #333;
}


.barra-topo {
    background-color: rgb(238, 198, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    min-height: 80px;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.minha-logo {
    width: 180px;
    height: auto;
}

.busca-container {
    flex: 1;
    max-width: 500px;
}

.campo-busca {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}


.navegacao {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navegacao a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.navegacao a:hover {
    color: #555;
}

.botao-sair {
    background-color: #d9534f;
    color: white !important;
    padding: 8px 15px;
    border-radius: 5px;
}


.layout-principal {
    display: flex;
    min-height: calc(100vh - 160px);
}


.barra-lateral {
    width: 250px;
    background-color: rgb(238, 198, 38);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-right: 1px solid rgba(0,0,0,0.05);
}

.botao {
    padding: 15px 25px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    transition: background 0.3s;
}

.botao:hover {
    background-color: rgba(0,0,0,0.05);
}


.conteudo {
    flex: 1;
    background-color: rgb(181, 181, 181); 
    padding: 40px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}


.vitrine {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: white;
    width: 320px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: contain; 
    padding: 20px;
    background-color: #fcfcfc;
}

.card-info {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #eee;
}

.card-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-info p {
    color: #66



